
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/AVDManagementFramework/.vs/*
library/AVDManagementFramework/AVDManagementFramework/bin/*
library/AVDManagementFramework/AVDManagementFramework/obj/*

# ignore PowerShell Studio MetaData
AVDManagementFramework/AVDManagementFramework.psproj
AVDManagementFramework/AVDManagementFramework.psproj.bak
AVDManagementFramework/AVDManagementFramework.psprojs
AVDManagementFramework/AVDManagementFramework.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*

# ignore local configuration
LocalConfiguration/
LocalOnly/

# ignore Build And Publish script
# $APIKey = 'API key from PowerShell Gallery.com'
# .\build\vsts-build.ps1 -ApiKey $APIKey -AutoVersion
# Find-module AVDManagementFramework
BuildAndPublish.ps1